*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
 
}
.buttonGroup{
  margin-top: 2rem;
  width: 20rem;
 
   min-height: 100%;

}
.adminButton{
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color:#f02d1f;
  color: black;
}
.hr{
   border-top: 10px solid #8c8b8b;
}
.controlButton{
  width: 15rem;
  margin-left: 2rem;
}
.imgCard{
  max-height: 13rem;
  max-width: 20rem;
}
.cardStyle{
  min-height: 25rem;
}
.imgLogo{
  min-height: 20rem;
  min-width: 30rem;
}